<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="/public/img/icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/23e30a5d2a.js" crossorigin="Andrea"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo-search">

                    <img src="/img/logo-mercado-liebre.svg" alt="logo de mercado libre" id="logo">
                
                <div class="search-box">
                    <input type="search" class="input_text" placeholder="Buscar productos, marcas y más!"> 
                    <a href="" class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>

                <h3 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h3>
            
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></i></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

            <a href="#" class="burger-menu">
            <i class="fa-solid fa-bars"></i>
            </a>
    </header>

    <section class="banner">
        <img src="/img/img-home-banner.jpg" alt="Banner de oferta">
    </section>

    <main>
        <section class="producto">
            <header>
                <h3>Sección de oferta</h3>
            </header>
        <div class="articles">
            <article class="article">
                <img class="product_img" src="/img/img-cafetera-moulinex.jpg"  alt="imagen de la cafetera">
            <div class="main-article">
                <i class="truck fa-solid fa-truck"></i>
                <p class="precio">$6.770 </p>
                <p class="descuento">40% OFF</p>
                <h4 class="descripcion"><strong>Cafetera Moulinex</strong></h4>
            </div>
            </article>
            <article class="article">
                <img class="product_img" src="/img/img-macbook-pro-2019.jpg"  alt="imagen de MacBook">
            <div class="main-article">
                <i class="truck fa-solid fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF </p>
                <h4 class="descripcion"><strong>MacBook Pro 2019</strong></h4> 
            </div>
            </article>
            <article class="article">
                <img class="product_img" src="/img/img-samsung-galaxy-s10.jpg"  alt="imagen del Samsung Galaxy">
                <div class="main-article">
                <i class="truck fa-solid fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4 class="descripcion"><strong>Samsung Galaxy S10</strong></h4> 
            </div>
            </article>
            <article class="article">
                <img class="product_img" src="/img/img-tv-samsung-smart.jpg"  alt="imagen del SmartTv">
                <div class="main-article">
                <i class="truck fa-solid fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4 class="descripcion"><strong>SmartTv Samsung 43"</strong></h4> 
                </div>
            </article>
        </div>
    </section>

        <section class="producto">
                <header>
                    <h3>Sección de oferta</h3>
                </header>
            <div class="articles">
                <article class="article">
                    <img class="product_img" src="/img/img-cafetera-moulinex.jpg"  alt="imagen de la cafetera">
                <div class="main-article">
                    <i class="truck fa-solid fa-truck"></i>
                    <p class="precio">$6.770 </p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripcion"><strong>Cafetera Moulinex</strong></h4>
                </div>
                </article>
                <article class="article">
                    <img class="product_img" src="/img/img-macbook-pro-2019.jpg"  alt="imagen de MacBook">
                <div class="main-article">
                    <i class="truck fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF </p>
                    <h4 class="descripcion"><strong>MacBook Pro 2019</strong></h4> 
                </div>
                </article>
                <article class="article">
                    <img class="product_img" src="/img/img-samsung-galaxy-s10.jpg"  alt="imagen del Samsung Galaxy">
                    <div class="main-article">
                    <i class="truck fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripcion"><strong>Samsung Galaxy S10</strong></h4> 
                </div>
                </article>
                <article class="article">
                    <img class="product_img" src="/img/img-tv-samsung-smart.jpg"  alt="imagen del SmartTv">
                    <div class="main-article">
                    <i class="truck fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripcion"><strong>SmartTv Samsung 43"</strong></h4> 
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer> 
        <div class="benefits"> 
            <div class="benefit">
                <p> <div class="iconosf"> <i  class="iconosf fa-solid fa-credit-card"> </i> <br>
                    <strong>  Paga con tarjeta o en efectivo</strong> </div> </p>
                    <br>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <br>
            <div class="benefit"> 
                <p> <div class="iconosf"> <i  class="iconosf fa-solid fa-gift"></i> <br>
                    <strong>  Envío gratis desde $ 2.500 </strong> </div> </p>
                <br>
                <p> 
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    producto. Es un beneficio de Mercado Puntos. </p>
            </div>
            <br>
            <div class="benefit"> 
                <p> <div class="iconosf"> <i   class="iconosf fa-solid fa-user-shield"> </i> <br> <strong>Seguridad, de principio a fin</strong> </div> </p>
                <br>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
            <br>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre A.G.H.</p>
            </div>
        
    </footer>
 </body>
</html>