<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="shortcut icon" href="img/icono.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/03e8e208c1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="top-header">
          <div class="logo-search">

                  <img src="/img/logo-mercado-liebre.svg" alt="logo de mercado libre" id="logo">
              
              <div class="search-box">
                  <input type="search" class="input_text" placeholder="Buscar productos, marcas y más!"> 
                  <a href="" class="lupa">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  </a>
              </div>
          </div>

              <h3 class="copy-header">
                  <i class="fa-solid fa-hand-holding-dollar"></i>
                  Comprá en cuotas y sin tarjeta de crédito
              </h3>
          
      </div>
      <nav class="main-navbar">
          <ul class="left-navbar">
              <li><a href="#">Oferta</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
          </ul>

          <ul class="right-navbar">
              <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></i></li>
              <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
      </nav>

          <a href="#" class="burger-menu">
          <i class="fa-solid fa-bars"></i>
          </a>
  </header>
    <br />
    <main class="login">
      <form action="/" method="POST">
        <input type="text" name="user" placeholder="Nombre de usuario" />
        <input type="password" name="pass" placeholder="Contraseña" />
        <button class="submit-login" type="submit">Enviar</button>
        <br />
        <br />
      </form>
    </main>
    <footer> 
      <div class="benefits"> 
          <div class="benefit">
              <p> <div class="iconosf"> <i  class="iconosf fa-solid fa-credit-card"> </i> <br>
                  <strong>  Paga con tarjeta o en efectivo</strong> </div> </p>
                  <br>
              <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </div>
          <br>
          <div class="benefit"> 
              <p> <div class="iconosf"> <i  class="iconosf fa-solid fa-gift"></i> <br>
                  <strong>  Envío gratis desde $ 2.500 </strong> </div> </p>
              <br>
              <p> 
                  Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  producto. Es un beneficio de Mercado Puntos. </p>
          </div>
          <br>
          <div class="benefit"> 
              <p> <div class="iconosf"> <i   class="iconosf fa-solid fa-user-shield"> </i> <br> <strong>Seguridad, de principio a fin</strong> </div> </p>
              <br>
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                  porque estás siempre protegid@.</p>
          </div>
      </div>
          <br>
          <div>
              <p>Copyright © 1999-2020 MercadoLiebre A.G.H.</p>
          </div>
      
  </footer>
  </body>
</html>