*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
    padding: 0;
}
    
p{
    font-size: 12px;
}

a{
    text-decoration: none;
}

main{
    width: 90%;
    margin: 0 auto;
}

.main-header{
    background-color: #EAC926; 
    padding-bottom: 20px; 
}

.logo-search{
    width: 100%;
}

.main-header .img .search-box{
    display: flex;
    flex-direction: row;
}

div.top-header{
    display: flex;
    padding: 5%;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 50%;
    padding: 10px;
}

.main-header .logo-search{
    display: flex;
    flex-direction: row;
}

header div .search-box{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 11px;
    width: 80%;
}

.lupa{
    color: #000000;
    border: 1px solid #666;
    background-color: #ffffff;
    font-size: 14px; 
}

.input_text{
    width: 100%;
}

::placeholder {
    text-align: center; 
}

.main-header .copy-header{ 
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

header nav{
    margin-left: 20px;
}

.burger-menu{
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 40px;
    padding: 10px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main article{
    padding: 10px;
}

section.banner img{
    width: 100%;
}

/* Productos en display */

main section article{
    background-color: #fff; 
    margin: 10px;   
}

main section h3{
    margin: 20px 0px;
}
.descuento, .descripcion{
    font-size: 16px;
    font-weight: normal;
}

h3, .descripcion{
    color: #666;
}

main section article img{
    width: 100%;
}

article div.main-article{
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

article div.main-article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article i,
.descuento{
    color: #39b54a;
}

main section article i{
    width: 30px;
    height: 30px;
    right: 20px;
    top: -15px;
    padding: 5px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    font-size: 16px;
    border-radius: 50%;
    display: block;
    position: absolute;
}

main section div.producto article i{
    transition: 2s;
}

main section div.producto article i:hover {
    transform: rotate(-90deg);
}

section div.last-visit, 
section div.offers{
    display: flex;
    flex-wrap: wrap;
} 
    .precio{
        font-size: 18px;
        width: 30%; 
    }

    .descuento{
        font-size: 16px;
        width: 70%; 
    }

    .descripcion{
        display: none;
        margin-top: 20px;
    }

    .descuento,
    .descripcion{
    font-size: 16px;
    font-weight: normal;
    }

    main section article:hover .descripcion{
        display: block;
    }

/* Footer */

footer{
        text-align: center;
        background-color: #ffffff;  
}

div.iconosf i{
    color: #1259c3;
}

footer .benefits{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

footer div.benefit {
    margin: 10px;
}

/* LogIn - Register*/

.login form,
.register form .register-input_top, .register-input_center,.register-input_bottom{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form input, button{         
    margin: 17px 0;
    border: none;
    border-radius: 3px;
}

button.submit-login,         
.buttons-register{
   background-color: #6b9eeb;
   color: #ebebeb;
   font-weight: 300;
}

.register form button.buttons-register,
.login form button,
input[type='text'], 
input[type='password'], 
input[type='email'],
input[type='date']{          
    padding: 8px 0 ;
}

.login form button:hover,       
.register form button:hover{
    background-color: #0022AA;
}

/* Register */

.register form button.buttons-register{ 
    width: 100%;
}

@media (min-width: 361px){  
/* Mobile */
    main section div.producto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.producto article{
        width: 45%;
    }

    .main-navbar ul{
        display: none;
    }

    .precio,
    .descuento{
        width: 50%;
    }
    footer .benefits{

        flex-direction: column;
    }
}


@media (min-width: 769px){    
/* Desktop */

    #logo{
        width: 50%;
    }

    .logo-search{
        width: 150%;
    }

    div.top-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .burger-menu{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
    }

    .main-navbar li{
        margin: 0 8px;
    }

    .main-navbar{
        flex-direction: row;
    }
    
    .main-navbar a{
        display: inline-block;
        padding: 5px 0px;
        font-size: 15px;
    }

    header nav .main-navbar .left-navbar{
        justify-content: flex-start;
    }
    
    header nav .main-navbar .left-navbar{
        justify-content: flex-end;
    }

    .articles{
    display: flex;
    flex-direction: row;
    }

    main section article{ 
        margin: 10px 10px;
    }

    footer div.data{
        display: flex;
        justify-content: space-around;
    }

     footer div.data .pago,.envios,.seguridad{
        width: 30%;
    }

    footer div.copyright{
        display: flex;
        justify-content: left;
        padding-top: 20px;
    }

    footer div.data div i:hover{
        transition: all 1s;
    }

    footer div.data div i:hover{
        color: #39b54a;
    }

    footer .benefits{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    /*Nav longin.html*/

    .login form{
        align-items: center;
     }
 
     .login form input, .submit-login{
         width: 50%;
     }
 
     /*Nav register.html*/
 
     main.register{
         position: relative;
     }
 
     .form_register{
         position: relative;
         left: 300px;
     }
     
     .register form .register-input_top, .register-input_center,.register-input_bottom,.conteiner-buttons{
         width: 40%;
     }
 
 }

/** 
- Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
- Tipografías
Familia: 'Roboto'
- Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/oferta): 24px
precio: 18px
descuento: 16px
descripcion: 16px
- Íconos
https://fontawesome.com/icons?d=gallery&m=free
*/